In [3]:
import pandas as pd
import numpy as np

In [4]:
obesity = pd.read_csv("obesity.csv")

In [5]:
obesity.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]

***The data is highly uncleaned. Let's start it cleaning***

In [6]:
obesity.nunique()

Unnamed: 0    196
2016          192
2016.1        195
2016.2        195
2015          194
             ...
1976.1        161
1976.2        190
1975          177
1975.1        155
1975.2        185
Length: 127, dtype: int64

In [7]:
obesity.shape

(198, 127)

***The first two rows looks like repeating the same information. Confirm it with unique function.***

In [8]:
obesity.iloc[0, :].unique()

array([nan,
       'Prevalence of obesity among adults, BMI &GreaterEqual; 30 (age-standardized estimate) (%)'],
      dtype=object)

In [9]:
obesity.iloc[1, :].unique()

array([nan, '18+  years'], dtype=object)

In [10]:
obesity.iloc[2, :].unique()

array(['Country', 'Both sexes', 'Male', 'Female'], dtype=object)

***All columns in first two rows have the same values. The third row is the gender. 2016.1 is male, 2016.2 is female and 2016 is the average (both sex) and this is valid for all other years as well. So the first three rows are redundant and we can just drop them.***

In [11]:
obesity.drop([0,1,2], axis=0, inplace=True)

In [12]:
obesity.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
5,Algeria,27.4 [22.5-32.7],19.9 [13.6-27.1],34.9 [27.6-42.7],26.7 [21.9-31.8],19.2 [13.2-26.1],34.2 [27.1-41.7],26.0 [21.4-30.9],18.5 [12.7-25.0],33.6 [26.7-40.7],...,11.8 [6.5-18.6],7.4 [4.3-11.3],3.1 [1.2-6.2],11.4 [6.2-18.4],7.2 [4.1-11.1],2.9 [1.1-6.1],11.1 [5.8-18.2],6.9 [3.9-10.9],2.8 [1.0-6.0],10.7 [5.5-18.0]
6,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7],25.4 [20.1-31.0],25.5 [17.8-33.8],25.2 [17.7-33.4],25.2 [20.0-30.7],25.2 [17.6-33.3],25.1 [17.8-33.1],...,17.5 [10.9-25.3],14.0 [9.6-19.1],10.7 [5.6-17.4],16.9 [10.4-24.8],13.5 [9.1-18.6],10.2 [5.2-16.9],16.4 [9.8-24.4],12.9 [8.6-18.1],9.7 [4.7-16.3],15.8 [9.2-23.9]
7,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0],7.9 [4.9-11.7],3.8 [1.5-7.3],11.6 [6.5-18.2],7.5 [4.7-11.2],3.6 [1.4-6.9],11.1 [6.2-17.5],...,1.6 [0.5-3.7],0.9 [0.3-2.0],0.3 [0.0-0.9],1.5 [0.4-3.6],0.9 [0.3-2.0],0.3 [0.0-0.9],1.4 [0.4-3.5],0.8 [0.3-1.9],0.2 [0.0-0.8],1.4 [0.4-3.4]

In [13]:
obesity.reset_index(drop=True, inplace=True)

In [15]:
obesity.drop(obesity.columns[1::3], axis=1, inplace=True)

In [16]:
obesity.head()

,Unnamed: 0,2016.1,2016.2,2015.1,2015.2,2014.1,2014.2,2013.1,2013.2,2012.1,...,1979.1,1979.2,1978.1,1978.2,1977.1,1977.2,1976.1,1976.2,1975.1,1975.2
0,Afghanistan,3.2 [1.3-6.4],7.6 [4.3-12.4],3.0 [1.3-6.0],7.3 [4.1-11.8],2.8 [1.2-5.6],7.0 [4.0-11.3],2.7 [1.1-5.3],6.6 [3.8-10.7],2.5 [1.1-5.0],...,0.3 [0.1-0.8],1.0 [0.3-2.3],0.2 [0.1-0.7],0.9 [0.3-2.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.2 [0.0-0.6],0.8 [0.2-2.0]
1,Albania,21.6 [14.8-29.0],21.8 [15.3-28.9],20.9 [14.4-28.1],21.3 [15.1-28.1],20.2 [13.9-27.3],20.8 [14.9-27.4],19.5 [13.4-26.3],20.4 [14.6-26.7],18.8 [13.0-25.4],...,5.2 [2.3-9.6],9.3 [4.8-15.5],5.0 [2.1-9.4],9.1 [4.6-15.5],4.8 [2.0-9.3],8.9 [4.3-15.4],4.6 [1.8-9.2],8.8 [4.1-15.4],4.4 [1.7-9.2],8.6 [3.9-15.4]
2,Algeria,19.9 [13.6-27.1],34.9 [27.6-42.7],19.2 [13.2-26.1],34.2 [27.1-41.7],18.5 [12.7-25.0],33.6 [26.7-40.7],17.8 [12.3-24.1],32.9 [26.4-39.8],17.1 [11.9-23.2],...,3.4 [1.4-6.6],12.2 [6.9-18.9],3.2 [1.3-6.4],11.8 [6.5-18.6],3.1 [1.2-6.2],11.4 [6.2-18.4],2.9 [1.1-6.1],11.1 [5.8-18.2],2.8 [1.0-6.0],10.7 [5.5-18.0]
3,Andorra,25.9 [18.0-34.3],25.3 [17.7-33.7],25.5 [17.8-33.8],25.2 [17.7-33.4],25.2 [17.6-33.3],25.1 [17.8-33.1],24.8 [17.5-32.7],25.1 [17.8-32.8],24.5 [17.4-32.3],...,11.8 [6.4-18.4],18.0 [11.4-25.7],11.2 [6.0-18.0],17.5 [10.9-25.3],10.7 [5.6-17.4],16.9 [10.4-24.8],10.2 [5.2-16.9],16.4 [9.8-24.4],9.7 [4.7-16.3],15.8 [9.2-23.9]
4,Angola,4.0 [1.6-7.9],12.1 [6.8-19.0],3.8 [1.5-7.3],11.6 [6.5-18.2],3.6 [1.4-6.9],11.1 [6.2-17.5],3.3 [1.3-6.4],10.6 [6.0-16.7],3.1 [1.2-6.1],...,0.3 [0.1-1.0],1.7 [0.5-3.8],0.3 [0.1-0.9],1.6 [0.5-3.7],0.3 [0.0-0.9],1.5 [0.4-3.6],0.3 [0.0-0.9],1.4 [0.4-3.5],0.2 [0.0-0.8],1.4 [0.4-3.4]

***Considering only the average value of the year and ignoring the range***

In [17]:
for i in range(1,85):
    obesity.iloc[:,i] = obesity.iloc[:,i].str.split(expand=True)[0]
obesity.head()

,Unnamed: 0,2016.1,2016.2,2015.1,2015.2,2014.1,2014.2,2013.1,2013.2,2012.1,...,1979.1,1979.2,1978.1,1978.2,1977.1,1977.2,1976.1,1976.2,1975.1,1975.2
0,Afghanistan,3.2,7.6,3.0,7.3,2.8,7.0,2.7,6.6,2.5,...,0.3,1.0,0.2,0.9,0.2,0.9,0.2,0.8,0.2,0.8
1,Albania,21.6,21.8,20.9,21.3,20.2,20.8,19.5,20.4,18.8,...,5.2,9.3,5.0,9.1,4.8,8.9,4.6,8.8,4.4,8.6
2,Algeria,19.9,34.9,19.2,34.2,18.5,33.6,17.8,32.9,17.1,...,3.4,12.2,3.2,11.8,3.1,11.4,2.9,11.1,2.8,10.7
3,Andorra,25.9,25.3,25.5,25.2,25.2,25.1,24.8,25.1,24.5,...,11.8,18.0,11.2,17.5,10.7,16.9,10.2,16.4,9.7,15.8
4,Angola,4.0,12.1,3.8,11.6,3.6,11.1,3.3,10.6,3.1,...,0.3,1.7,0.3,1.6,0.3,1.5,0.3,1.4,0.2,1.4

***Converting it into narrow form by transposing columns and rows***

In [18]:
obesity= obesity.melt(id_vars=['Unnamed: 0'], value_name='obesity_rate')
obesity.head()

    Unnamed: 0 variable obesity_rate
0  Afghanistan   2016.1          3.2
1      Albania   2016.1         21.6
2      Algeria   2016.1         19.9
3      Andorra   2016.1         25.9
4       Angola   2016.1          4.0

***Creating gender column***

In [22]:
obesity[['year','gender']] = obesity.iloc[:,1].str.split('.', expand=True)
obesity.head()

    Unnamed: 0 variable obesity_rate  year gender
0  Afghanistan   2016.1          3.2  2016      1
1      Albania   2016.1         21.6  2016      1
2      Algeria   2016.1         19.9  2016      1
3      Andorra   2016.1         25.9  2016      1
4       Angola   2016.1          4.0  2016      1

In [23]:
obesity.drop('variable', axis=1, inplace=True)
gender = {'1':'male', '2':'female'}
obesity.gender.replace(gender, inplace=True)
obesity.rename(columns={'Unnamed: 0':'country'}, inplace=True)
obesity.head()

       country obesity_rate  year gender
0  Afghanistan          3.2  2016   male
1      Albania         21.6  2016   male
2      Algeria         19.9  2016   male
3      Andorra         25.9  2016   male
4       Angola          4.0  2016   male

In [24]:
obesity.tail()

                                  country obesity_rate  year  gender
16375  Venezuela (Bolivarian Republic of)         13.2  1975  female
16376                            Viet Nam          0.2  1975  female
16377                               Yemen          4.2  1975  female
16378                              Zambia          2.5  1975  female
16379                            Zimbabwe          6.7  1975  female

***It looks like the data is cleaned properly***